@import '../variables';
@import '../mixins';

.invite{
	width: calc(100% - 1rem);
	height: 5rem;
	max-width: 600px;
	margin: .5rem auto;
	padding: 1rem;
	border-radius: $input-border-radius;

	background-color: white;
	box-shadow: 0 3px 3px #ddd;
	color: #000;

	display: block;
	overflow: hidden;

	z-index: 1100;

	&:hover{
		cursor: pointer;
	}
}