@import '../variables';

@import '../mixins';

@import "../fa/fontawesome";
@import "../fa/solid";
@import "../fa/brands";

.back-button{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    color: white;

    @extend %fa-icon;
    @extend .fas;

    &::before{
        content: fa-content($fa-var-angle-left);
    }
}

.hero > h2{
    margin-bottom: 0;
}

.header-image{
    background-color: aquamarine;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 0 auto 1rem;
}

.status{
    color: white;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    max-width: 1200px;
    margin: 1.5rem auto 0;
    padding-top: 6.5rem;
    position: relative;
    bottom: 7.5rem;
}

.messages{
    display: block;
    box-sizing: border-box;
    width: auto;
    margin-bottom: 1rem;

    &.sent, &.received{
        max-width: 15rem;
        position: relative;
    }
    
    &.sent{
        align-self: flex-end;
        margin-right: 1rem;
        border-radius: $border-radius $border-radius 0 $border-radius;
        text-align: right;
        @include ltr-gradient($torchRed, $brinkPink);

        .message{
            color: white;
        }
    }
    
    &.received{
        align-self: flex-start;
        margin-left: 1rem;
        border-radius: $border-radius $border-radius $border-radius 0;
        background-color: white;
    }

    &.info{
        text-align: center;
        max-width: unset;

        .message{
            padding: 0;
            min-height: 1rem;
        }
    }
}

.message{
    min-height: 3rem;   
    padding: 1rem;
    margin: 0;
}

.page-bottom{
    width: 100%;
    height: 4rem;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: .5rem 0;
    background-color: white;
}

.message-input-wrapper{
    height: 3rem;
    width: 100%;
    margin: auto;
    padding: 0 1rem;
    max-width: 1200px;
}

.send{
    line-height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin: 0;
    text-align: center;
    float: left;

    font-size: 1.2rem;
    color: white;

    @include ltr-gradient($torchRed, $brinkPink);

    @extend %fa-icon;
    @extend .fas;

    &::before{
        content: fa-content($fa-var-space-shuttle);
    }

    &:hover{
        cursor: pointer;
    }
}

.file{
    line-height: 3rem;
    width: 3rem;
    background-color: $veryLightGray;
    box-sizing: border-box;
    border-radius: 1rem 0 0 1rem;
    border-right: 2px dotted white;
    text-align: center;
    float: left;
    font-size: 1.2rem;

    @extend %fa-icon;
    @extend .fas;

    &::before{
        content: fa-content($fa-var-paperclip);
    }
}

.message-input{
    height: 3rem;
    width: calc(100% - 6.5rem);
    background-color: $veryLightGray;
    border-radius: 0 1rem 1rem 0;
    box-sizing: border-box;
    border: 0;
    padding-left: 1rem;
    margin-right: .5rem;
    float: left;
    outline: none;
}