
// Body
$body-bg: #f5f5f5;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$chatboyPrimary: linear-gradient(to right, #ff416c, #ff4b2b);
$chatboySecondary: linear-gradient(to right, #00b4db, #0083b0);

$torchRed: #ff0844;
$brinkPink: #ff757b;
$veryLightGray: #ccc;
$black: #1d1d1b;

$menu-border-radius: 10px;
$input-border-radius: 10px;
$input-padding: .6rem;

// Fonts
@font-face {
    font-family: 'Nexa';
    src: url('/fonts/nexa-light.otf');
}

@font-face {
    font-family: 'Nexa';
    src: url('/fonts/nexa-bold.otf');
    font-weight: bold;
}