
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Components
@import 'components';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Custom
html, body, #app, main{
	height: 100%;
}

body{
	#app{
		height: inherit;
		overflow-y: hidden;
		background: $chatboyPrimary !important;
		box-shadow: inset 0 0 100px rgba(0,0,0,.4);
		color: #f8f9fa !important;

		.container-fluid{
			height: 100%;
		}

		.message_received small{
			color: #656565;
		}

		.messages, #messages{
			max-height: 100%;
			overflow-y: auto;
			position: relative;
			padding-bottom: 4.5rem;

			.fullwidth{
				width: 100%;
				display: block;
				position: relative;
				clear: both;

				.message_menu{
					display: none;
				}

				.message_sent{
					width: 45%;
					float: right;
					background-color: #3a3a3a;
					padding: .5rem;
					margin: .5rem;
					border-radius: 5px;

					&.message_selected{
						background-color: #4c4c4c;
					}
				}

				.message_received{
					width: 45%;
					float: left;
					background-color: #ffffff;
					padding: .5rem;
					margin: .5rem;
					border-radius: 5px;
					color: #2d2d2d;
				}
			}
		}

		

		.group_info.show{
			transition: 1s ease;
			height: 83vh;
		}

		.message_input{
			width: 100%;
			max-width: 800px;
			margin: 0 -15px 0 -15px;
		}

		.bottom-absolute{
			position: absolute;
			bottom: 0;
			width: 100%;
			box-shadow: 0px -1px 5px 0px #343a40;
		}

		.table-users thead th{
			border-top: none;
		}

		.whole{
			position: relative;
			width: 100%;
			height: 100%;
		}

		#mobileMenu{
			width: 0;
			height: 100%;
			position: absolute;
			display: inline-block;
			background: $chatboySecondary;
			top: 0;
			right: 0;
			z-index: 1200;
			transition: ease .5s;
			box-shadow: 0px -1px 5px 0px rgba(0,0,0,.4);

			#menuToggle{
				width: 3rem;
				height: 3rem;
				background: $chatboySecondary;
				position: relative;
				top: calc( 100% - 4rem );
				right: 3rem;
				border-top-left-radius: $menu-border-radius;
				border-bottom-left-radius: $menu-border-radius;

				i{
					font-size: 2rem;
					position: relative;
					top: .5rem;
					left: .7rem;
				}
			}

			.navbar-nav{
				display: none;
			}
		}
	}
}



