
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Components
@import 'components';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body{
	height: 100% !important;
	max-width: 100vw;
	overflow: hidden;
	font-family: 'Nunito', sans-serif;
}

.hero{
	background-size: cover;
	background-position: center 100%;
	background-repeat: no-repeat;
	height: 11rem;

	display: flex;
    align-content: center;
	flex-direction: column;

	text-align: center;
	padding-top: 1rem;

	z-index: 1400;
	position: relative;

	h1, h2, h3, h4, h5{
		color: white;
		font-family: Nexa;
		margin-bottom: 1.5rem;
	}

	input{
		border-radius: $input-border-radius;
		padding: $input-padding;
		border: solid 0;
		width: 60%;
		max-width: 300px;
		margin: 0 auto 1.5rem auto;

		text-align: center;
		color: $babblRed;
		font-size: 1rem;
		font-weight: bold;
	}
}
