// Variables
@import 'variables';

// Components
@import 'components';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body{
	height: 100% !important;
	max-width: 100vw;
	overflow-x: hidden;
	font-family: 'Nunito', sans-serif;
}

body{
	line-height: 1.6;
	font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
}

.background{
	position: absolute;
	top: 0;
	left: 0;
	height: 70%;
	width: 100%;
	background-size: cover;
}

.hero-welcome{
	background-size: cover;
	background-position: center 100%;
	background-repeat: no-repeat;
	height: 50%;

	display: flex;
    justify-content: center;
    align-content: center;
	flex-direction: column;

	text-align: center;

	h1{
		color: white;
		font-family: Nexa;
	}

	img{
		margin: 0 auto;
	}
}

.form-container{
    display: flex;
    justify-content: center;
    align-content: center;
	flex-direction: column;

	height: calc(50% + 1rem);
	margin-top: -1rem;
}

.auth-form{
	width: 100%;
	text-align: center;
	max-width: 600px;
	margin: auto;

	textarea, select, input, button { outline: none; }

	input{
		width: 75%;
		display: block;
		margin: auto;
		margin-bottom: 1rem;
		padding: .6rem;
		background-color: $body-bg;

		transition: .3s ease;

		border-radius: 10px;
		border-color: #d9d9d9;
		border-style: solid;
		border-width: 1px;

		&:focus{
			border-color: #ff2553;
		}
	}

	.forgot-password a{
		color: #d9d9d9;
		text-decoration: underline;

		width: 75%;
		display: block;
		margin: auto;
		text-align: right;
	}

	.register{
		width: 75%;
		display: block;
		margin: auto;
		text-align: center;
		color: #ff2553;

		& a{
			text-decoration: underline;
			color: #ff2553;
		}
	}

	button{
		width: 75%;
		display: block;
		margin: auto;
		padding: .6rem;
		background-color: #cc272700;
		text-transform: uppercase;

		border-radius: 10px;
		border: none;

		color: white;
		background: rgb(255,17,72);
		background: -moz-linear-gradient(left, rgba(255,17,72,1) 0%, rgba(255,106,117,1) 100%);
		background: -webkit-linear-gradient(left, rgba(255,17,72,1) 0%,rgba(255,106,117,1) 100%);
		background: linear-gradient(to right, rgba(255,17,72,1) 0%,rgba(255,106,117,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1148', endColorstr='#ff6a75',GradientType=1 );
	}
}
