.navbar{
	width: 100%;
	height: 9vh;
	z-index: 1100;
}

.message_sent{
	width: 30%;
	float: right;
	background-color: #b9f5b9;
	padding: .5rem;
	margin: .5rem;
	border-radius: 5px;
}

.message_received{
	width: 30%;
	float: left;
	background-color: #afd5ff;
	padding: .5rem;
	margin: .5rem;
	border-radius: 5px;
}

.fullwidth{
	width: 100%;
	display: block;
	position: relative;
	clear: both;
}

.messages{
	max-height: 81vh;
	overflow-y: scroll;
}

.message_input{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10vh;
	background-color: white;
}