@font-face {
  font-family: 'Nexa';
  src: url("/fonts/nexa-light.otf");
}

@font-face {
  font-family: 'Nexa';
  src: url("/fonts/nexa-bold.otf");
  font-weight: bold;
}

.hero > h2 {
  margin-bottom: 0;
}

.header-image {
  background-color: blueviolet;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 0 auto 1rem;
}

.status {
  color: white;
}

